<!-- <h1> Application Status : Pending</h1> -->
<div class="body-main" >

    <div class="container" id='htmlData'>
        <div class="logo">
            <img src="assets/images/cropped-ict-ico.png" alt="" srcset="">
        </div>

        <div class="sub-logo">
            <h2> ICT ACADEMY OF KERALA </h2>
            <p>A Govt. of india Supported & Govt. of Kerala Partnered Social Enterprise</p>
        </div>

        <div class="id-header">
            <h2><u>STUDENT ID CARD</u></h2>
        </div>

        <div class="id-card">
            <img src="{{idService.server_address}}/uploads/image-1643720068810.jpg">
            <h2><b>Tibin Thomas</b> </h2>
        </div>

        <div class="assignment">
            is undergoing Microskills Training in <b>Buisness Intelligence with Excel & Tablue</b>
            with ICT Academy of Kerala from <b> 27 Decemebr 2021</b>
        </div>

        <div class="left-block">
            <b>CEO</b><br> ICT Academy of Kerala
        </div>

        <div class='p-valid'>
            <p> Valid Till :<b> 13 February 2022 </b></p>
        </div>

    </div>
    <br>
    <button (click)="generatePdf()">Open PDF</button>
</div>